<!doctype html>
<title>Please. enter your info</title>
<body>
 <form action="{{ send_email }}" method="post" novalidate>
  <div>your name</div>
  <input name="send-name" type="text" placeholder="your name" aria-label="your name"/>
  <div>your e-mail address</div>
  <input name="send-email" type="text" placeholder="your e-mail address"/>
  <div>your message</div>
  <div>
    <textarea name="send-message" rows=9 cols=40 placeholder="your message"></textarea>
  </div>
  <button role="button">send message</button>
 </form>
</body>